@{
    ViewData["Title"] = "Panel del Optometrista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Bienvenido al panel de Optometrista</h2>

    <div class="row text-center">
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-outline-success w-100">Agendar Cita</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-outline-secondary w-100">Historial Clínico</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="#" class="btn btn-outline-dark w-100">Resultados de Exámenes</a>
        </div>
    </div>
</div>

